    <% layout('layouts/boilerplate')%>
    <div class="row mb-3">
      
      <div class="col-6 offset-3">
        <a href="/campgrounds" class="btn btn-secondary">Back</a>
        <div class="card text-center">
          
          <div class="card-header">
              <img src="<%= campground.image  %> " class="card-img-top" alt="...">
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text">
              <small class="text-muted"><%= campground.location %></small>
            </p>
            <p class="card-text"><%= campground.description %></p>
            <p>$<%= campground.price %> per night.</p>
            <div class="card-body">
              <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-primary">Edit Campground</a>
              <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
      
     
    
